.row
  .col-lg-5
  .col-lg-4
    %h2 Profile
    %img{ src: current_user.image }
    =user.name

    %h2 Events I attend
    %p
      %h3
        -attendances.each do |att|
          =link_to att.event.title, event_path(att.event)
          %br