.row
  .col-lg-3
  .col-lg-6
    %h1 Editing event
    
    = render 'form'
    %br
    = link_to 'Show', event, :class => "btn btn-info"
    = link_to 'Back', events_path, :class => "btn btn-danger"
  .col-lg-3