.col-lg-1
.col-lg-10.text-center
  %h1 My events
  = render 'events_search'  
  = render 'events_map'
  = render 'events'
  - if current_user
    = link_to 'New Event', new_event_path, :class => "btn btn-primary top-10"
