@import "bootstrap-sprockets";
@import "bootstrap";
@import 'categories';
@import 'header';
@import 'animate';
@import 'events';
@import 'map';
* {
  border-radius: 0px;
  &:focus { outline: 0px !important; }
}

html {
  height: 100%;
}

body {
  background-color: white;
  &.sessions.new {
    height: 100%;
    background: image-url("socialize.jpg") no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .signin {
    border-radius: 15px;
    display: inline-block;
    vertical-align: middle; /* vertical alignment of the inline element */
    font: 16px/1 Arial sans-serif;
    padding: 5%;
    font-size: 20px;
    a {


      &:hover {
        text-decoration: none;
      }
    }
  }

  .container2 {
    h1 { text-align: center }
    text-align: center;  /* align the inline(-block) elements horizontally */
    font: 0/0 a;
  }
  .container2:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
  }


}
