.row
  .col-lg-3
  .col-lg-6
    %h1 Listing #{category.name} events
    .well
      -if category.events.size > 0
        = render 'events/events'
      -else
        %h1 No events for this category

