.navbar-default
  / Brand and toggle get grouped for better mobile display
  .navbar-header.page-scroll
    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => categories_path, data: { 'no-turbolink'=> 'true'}} Categories
  / Collect the nav links, forms, and other content for toggling
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-left
      %li.page-scroll
        =link_to "Events", events_path
      %li.page-scroll
        =link_to "Groups", groups_path  
    %ul.nav.navbar-nav.navbar-right
      %li.hidden
        %a{:href => "#page-top"}
      - if current_user.location
        %li.page-scroll
          %p.location= current_user.location
      %li.page-scroll
        %img{ src: current_user.image }
      %li.page-scroll
        %a{:href => "signout"} Log out
